
<mat-card>
        <mat-card-title>
                Settings for web app
        </mat-card-title>
        <mat-card-content>
                <div class="section">
                        <div class="title">
                                Visual settings
                        </div>
                        <div class="content">
                                <mat-slide-toggle>Dark mode</mat-slide-toggle>
                        </div>
                </div>
        </mat-card-content>
</mat-card>