<mat-card>
        <mat-card-content>
                <div class="searching-bar">
                        <form>
                                <mat-form-field appearance="legacy">
                                        <mat-label>Search for transaction or wallet</mat-label>
                                        <input matInput placeholder="Tx ID or wallet" #search value="bffda9fdb9115d08aae26571ca56d546c4a063751a3837252011150dcc41b59b">
                                        <mat-hint>Place here wallet address to see all transactions corresponded to this
                                                wallet or transaction ID to see only specyfic transaction</mat-hint>
                                </mat-form-field>
                                <button type="submit" mat-flat-button class="search-button"
                                        (click)="searchForTx(search.value)" matTooltip="Search for transaction"
                                        matTooltipPosition="above">
                                        <mat-icon>search</mat-icon>
                                </button>
                                <button mat-flat-button class="search-button" routerLink="create-tx"
                                        matTooltip="Create new transaction" matTooltipPosition="below">
                                        <mat-icon>add_circle_outline</mat-icon>
                                </button>
                        </form>

                </div>
                <div class="createTx">

                        <div>
                                <mat-form-field appearance="fill">
                                        <mat-label>My wallets</mat-label>
                                        <mat-select>
                                                <mat-option *ngFor="let wallet of wallets" value="wallet.name">
                                                        {{ wallet.name }}
                                                </mat-option>
                                        </mat-select>
                                </mat-form-field>
                        </div>
                </div>
                <div class="transaction-data" *ngIf="visible">
                        <mat-list dense>
                                <div mat-subheader>Transaction overall</div>
                                <mat-list-item>
                                        <mat-icon mat-list-icon class="material-icons-outlined">data_object</mat-icon>
                                        <div mat-line>
                                                <mat-icon class="material-icons-outlined icon-lower"
                                                        matTooltip="A TxHash or transaction hash is a unique identifier that is generated whenever a transaction is executed."
                                                        matTooltipPosition="left">help_outline</mat-icon>Transaction
                                                Hash: {{ txObj.TxHash}}
                                        </div>
                                        <div mat-line>
                                                <mat-icon class="material-icons-outlined icon-lower"
                                                        matTooltip="The status of the transaction."
                                                        matTooltipPosition="left">help_outline</mat-icon>Status:
                                                <div class="status error" *ngIf="txObj.status == 0"
                                                        matTooltip="Error while sending transaction."
                                                        matTooltipPosition="right">
                                                        <mat-icon class="material-icons-outlined icon-lower">
                                                                error_outline</mat-icon>Error
                                                </div>
                                                <div class="status pending" *ngIf="txObj.status == 1"
                                                        matTooltip="Pending transaction. Waiting to adding transaction to blockchain."
                                                        matTooltipPosition="right">
                                                        <mat-icon class="material-icons-outlined icon-lower">pending
                                                        </mat-icon>Pending
                                                </div>
                                                <div class="status success" *ngIf="txObj.status == 2"
                                                        matTooltip="Transaction accepted." matTooltipPosition="right">
                                                        <mat-icon class="material-icons-outlined icon-lower">
                                                                thumb_up_alt</mat-icon>Success
                                                </div>
                                        </div>
                                        <div mat-line *ngIf="txObj.blockHeight != -1; else otherH">
                                                <mat-icon class="material-icons-outlined icon-lower"
                                                        matTooltip="Number of the block in which the transaction is recorded."
                                                        matTooltipPosition="left">help_outline</mat-icon>Block:
                                                {{ txObj.blockHeight}}
                                        </div>
                                        <ng-template #otherH>
                                                <div mat-line>
                                                        <mat-icon class="material-icons-outlined icon-lower"
                                                                matTooltip="Number of the block in which the transaction is recorded."
                                                                matTooltipPosition="left">help_outline</mat-icon>Block:
                                                        Transaction in mempool
                                                </div>
                                        </ng-template>
                                        <div mat-line>
                                                <mat-icon class="material-icons-outlined icon-lower"
                                                        matTooltip="Transaction type. Coinbase or transfer transaction."
                                                        matTooltipPosition="left">help_outline</mat-icon>Transaction
                                                type:
                                                <div class="tx" *ngIf="txObj.from == 'null'; else normal">Root</div>
                                                <ng-template #normal>
                                                        <div class="tx">Normal</div>
                                                </ng-template>
                                        </div>
                                        <div mat-line>
                                                <mat-icon class="material-icons-outlined icon-lower"
                                                        matTooltip="The date and time at which a transaction is mined."
                                                        matTooltipPosition="left">help_outline</mat-icon>Timestamp:
                                                {{ txObj.timestamp * 1000 | date: 'd/M/Y, h:mm a': 'GMT+2'}}
                                        </div>
                                </mat-list-item>
                                <mat-divider [inset]="true"></mat-divider>
                                <div mat-subheader>Transaction</div>
                                <mat-list-item>
                                        <mat-icon mat-list-icon>swap_horiz</mat-icon>
                                        <div mat-line>
                                                <mat-icon class="material-icons-outlined icon-lower"
                                                        matTooltip="The sending party of the transaction."
                                                        matTooltipPosition="left">help_outline</mat-icon>From:
                                                {{ txObj.from}}
                                        </div>
                                        <div mat-line>
                                                <mat-icon class="material-icons-outlined icon-lower"
                                                        matTooltip="The receiving party of the transaction."
                                                        matTooltipPosition="left">help_outline</mat-icon>To: {{
                                                txObj.to}}
                                        </div>
                                </mat-list-item>
                                <mat-divider [inset]="true"></mat-divider>
                                <div mat-subheader>Transaction values</div>
                                <mat-list-item>
                                        <mat-icon mat-list-icon class="material-icons-outlined">attach_money</mat-icon>
                                        <div mat-line>
                                                <mat-icon class="material-icons-outlined icon-lower"
                                                        matTooltip="The value being transacted in Pixel."
                                                        matTooltipPosition="left">help_outline</mat-icon>Value: {{
                                                txObj.txValue / 10000000}}
                                        </div>
                                        <div mat-line>
                                                <mat-icon class="material-icons-outlined icon-lower"
                                                        matTooltip="Cost per unit of gas specified for the transaction, in Pixel. The higher the gas price the higher chance of getting included in a block."
                                                        matTooltipPosition="left">help_outline</mat-icon>Transaction
                                                Fee: {{ txObj.fee / 10000000 }}
                                        </div>
                                </mat-list-item>
                        </mat-list>
                </div>
        </mat-card-content>
</mat-card>