mat-card{
        height: calc( 100% - 32px);
        mat-card-content{
                height: 100%;
                width: 100%;
                .half{
                        display: inline-block;
                        height: 100%;
                        width: 50%;
                        overflow-y: auto;
                        .searching-bar{
                                width: 100%;
                        }
                }
        }
}
.status{
        display: inline-block;
}
.icon-lower{
        transform: translateY(6px);
}
.success{
        color: green
}
.pending {
        color: lightblue;
}
.error{
        color: red;
}