mat-card{
        height: calc( 100% - 32px);
        mat-card-content{
                height: 100%;
                width: 100%;
                .half{
                        display: inline-block;
                        height: 100%;
                        width: 50%;
                }
        }
}
