mat-card{
        height: 100%;
        box-sizing: border-box;
        overflow: hidden;
        mat-card-content{
                height: 100%;
                overflow-y: auto;
        }
}
.mat-divider{
        position: relative !important;
}