<div class="container">
	<div class="wrapper">
		<mat-form-field appearance="standard">
			<mat-label>Filter</mat-label>
			<input matInput class="" (keyup)="applyFilter($event)"
				placeholder="Place private or public key here" #input>
		</mat-form-field>
		<button mat-raised-button matTooltip="Download all wallets" matTooltipPosition="left"
			(click)="downloadAllWallets()">
			<mat-icon class="material-icons-outlined">file_download</mat-icon>
		</button>
	</div>
	<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

		<!-- Private key Column -->
		<ng-container matColumnDef="privKey">
			<th mat-header-cell *matHeaderCellDef> Private key </th>
			<td mat-cell *matCellDef="let element"> {{element.privKey}} </td>
		</ng-container>

		<!-- Public key Column -->
		<ng-container matColumnDef="pubKey">
			<th mat-header-cell *matHeaderCellDef> Public Key </th>
			<td mat-cell *matCellDef="let element"> {{element.pubKey}} </td>
		</ng-container>

		<!-- Delete this key -->
		<ng-container matColumnDef="delete">
			<th mat-header-cell *matHeaderCellDef> Delete </th>
			<td mat-cell *matCellDef="let element"> <button mat-flat-button
					(click)="deleteSingleKey(element.privKey)" matTooltip="Delete this keys"
					matTooltipPosition="left">
					<mat-icon class="material-icons-outlined">delete</mat-icon>
				</button>
			</td>
		</ng-container>

		<!-- Go to transactions -->
		<ng-container matColumnDef="transaction">
			<th mat-header-cell *matHeaderCellDef> Transaction </th>
			<td mat-cell *matCellDef="let element">
				<button mat-flat-button class="transaction" matTooltip="Make transaction"
					matTooltipPosition="right" (click)="goToTransactions(element.pubKey)">
					<mat-icon class="material-icons-outlined">swap_horizontal_circle</mat-icon>
				</button>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

		<!-- Row shown when there is no matching data. -->
		<tr class="mat-row" *matNoDataRow>
			<td class="mat-cell" colspan="4">No wallets connected</td>
		</tr>
	</table>
	<mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
	</mat-paginator>
</div>