mat-card-content {
	padding-top: 20px;
}

.container {
	width: 100%;
	overflow-x: auto;
	table {
		width: 100%;
		overflow: auto;
		max-height: 500px;
		td {
			max-width: 500px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		.mat-row:hover {
			background-color: rgba(0, 0, 0, 0.04);
			cursor: pointer;
		}
	}
}
.wrapper {
	.mat-form-field {
		font-size: 14px;
		display: inline-block;
		width: calc(100% - 192px);
	}
	.btn-container{
		display: inline-block;
		width: auto;
	}
}
.wrapper-table{
	position: relative;
}

.spinner-container{
	width: 100%;
	height: calc(100% - 30px);
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 30px;
	left: 0;
	background-color: rgba(0,0,0,0.10);
}
.biggerTD{
	max-width: 100px !important;
	white-space: nowrap;
	transition: 0.2s;
	overflow: hidden;
	text-overflow: ellipsis;
}
.smallerTD{
	max-width: 50px !important;
	transition: 0.2s;
}

@media screen and(min-width: 600px){

	.smallerTD{
		max-width: 45px !important;
	}
}
@media screen and(min-width: 900px){

	.smallerTD{
		max-width: 30px !important;
	}
}